/*GERAL*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#address-container,
#form-container {
    flex: 1 1 0;
    height: 100%;
    text-align: center;

}

/*ADRESS CONTAINER*/

#address-container {
    background-image: url(/img/project_bg.jpg);
    background-size: cover;
    background-position-x: -130px;
    color: #FFF;
    position: relative;
}

.fade {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
}

#adress-content {
    position: absolute;
    top: 25vh;
    left: 35%;
    width: 300px;
}
